body {
  text-align: match-parent;
  font-family: 'Arial';
  background-color: rgb(1, 138, 169);
  color: rgba(0, 238, 255, 0.904);
  font-size: 37px;
  font-weight: 500px;
  border: 60px solid rgb(147, 0, 147);
  padding: 40px;
  margin: 0px
}
a {
  color: rgba(192, 243, 255, 0.741);
}